<div class="container">
    <div class="col-xs-12">
        <div>
            <div class="bigtitle">Admin Page</div>
            
            <div ng-show="acct.isAuthenticated() && acct.isAdmin()">


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseRepos">
                            Edit Repositories Table
                          </a>
                        </h4>
                      </div>
                      <div id="collapseRepos" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <button ng-click="addRepo()" title="Add Repository" style="margin-bottom: 10px;"><h4><i class="fas fa-plus"></i> Add Respository</h4></button>
                            
                            <h3>Filter by:</h3>
                            <label for="repo_type">Repository Type </label>
                            <select id="repo_type" ng-options="type for type in repo_types" ng-model="filter.repo_type"></select>
                            <label for="directorate">Directorate </label>
                            <select id="directorate" ng-options="dir for dir in directorates" ng-model="filter.directorate"></select>
                            <label for="product_type">Product Type </label>
                            <select id="product_type" ng-options="type for type in product_types" ng-model="filter.product_type"></select>
                            <label for="subdiscipline">Subdiscipline </label>
                            <select id="subdiscipline" ng-options="sub for sub in subdisciplines | orderBy:sub" ng-model="filter.subdiscipline"></select><br>
                            <label for="free_text">Free Text Search</label>
                            <input id="free_text" ng-model="filter.free_text">
                            <button ng-click="resetFilter()">Reset All Filters</button>

                            <table class="table-bordered table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th><a class="white" href="" ng-click="orderByMe('id')">id</a></th>
                                        <th><a class="white" href="" ng-click="orderByMe('label')">Label</a></th>
                                        <th><a class="white" href="" ng-click="orderByMe('repository_type')">repository_type</a></th>
                                        <th>description</th>
                                        <th>url</th>
                                        <th>directorates</th>
                                        <th>product types</th>
                                        <th>subdisciplines</th>
                                    </tr>    
                                </thead>
                                <tbody>
                                    <tr ng-repeat="repo in vocab.repositories | orderBy: [orderBy, 'id'] | filter:filterFunction">
                                        <td>
                                            <button ng-click="editRepo(repo)" title="Edit Repository"><i class="far fa-edit"></i></button>
                                            <button ng-click="deleteRepo(repo)" title="Delete Repository"><i class="fas fa-trash"></i></button>
                                        </td>
                                        <td>{{repo.id}}</td>
                                        <td>{{repo.label}}</td>
                                        <td>{{repo.repository_type}}</td>
                                        <td>{{repo.description}}</td>
                                        <td>{{repo.url}}</td>
                                        <td><p ng-repeat="d in repo.directorates" ng-hide="d.id=='Delete Me'">{{d.id}}</p></td>
                                        <td><p ng-repeat="p in repo.product_types" ng-hide="p.id=='Delete Me'">{{p.id}}</p></td>
                                        <td><p ng-repeat="s in repo.subdisciplines" ng-hide="s.id=='Delete Me'">{{s.id}}</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div ng-show="!acct.isAdmin()">
                <div><span>This page can only be accessed with an admin account</span></div>
            </div>

            <div class="browsebuttondiv" ng-show="!acct.isAuthenticated()">
                <a class="ezdmpbutton" style="cursor:pointer" ng-click="loginOrAdmin('google')">
                    <div><img style="height:25px; padding-right:5px" src="images/google_PNG19630.png"><span>Log In
                            with Google</span></div>
                </a>
            </div>
            <div class="browsebuttondiv" style="margin-top:10px;" ng-show="!acct.isAuthenticated()">
                <a class="ezdmpbutton" style="cursor:pointer" ng-click="loginOrAdmin('orcid')">
                    <div><img style="height:25px; padding-right:10px" src="images/orcidLogo.png"><span>Log In with
                            OrcID</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
