<div class="modal fade" ng-click="cancel($event)" data="modalBackground">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
		<form class="form-horizontal" role="form" name="registerForm">
      <div class="modal-body">

        <div class="form-group">
          <label class="col-sm-3 control-label">Full Name (optional)</label>
          <div class="col-sm-9">
            <input type="text" class="form-control input-sm" id="provided_name" placeholder="Given name, e.g. John J. Smith" ng-model="provided_name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
              <input type="checkbox" ng-model="policyAccepted"> I accept the terms of the <a>Privacy Policy</a>.
          </div>
          <div class="col-sm-12">
              <input type="checkbox" ng-model="optInEmail"> I would like to receive occasional email updates about ezDmp.
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <div ng-show="!policyAccepted">Please accept the terms of the privacy policy to continue</div>
          <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal" ng-disabled="!policyAccepted" >OK</button>
      </div>
		</form>
    </div>
  </div>
</div>