<div class="ezDmpmask"><img src="/images/loading-page.gif" alt="loading..." class="loading-img"></div>
<div class="container">
  <div class="col-xs-12">
                <div class="bigtitle" style="text-align:center;">Repositories</div>
                <div style="text-align:left;">

                    <div ng-repeat="repo in repos | orderBy:'label'">
                        <h4>
                            <div ng-if="repo.url">
                                <a target="_blank" href="{{repo.url}}">{{repo.label}}</a>
                            </div>
                            <div ng-if="!repo.url">
                                {{repo.label}}
                            </div>
                        </h4>
        
                        <b>Directorate(s):</b> <span ng-repeat="dir in repo.directorates">
                            {{dir.label.replace('Directorate for ', '')}}{{$last ? '' : '; '}}</span>
                        <br>
                        <b>Sub-discipline(s):</b> <span ng-repeat="subd in repo.subdisciplines">{{subd.label}}{{$last ? '' : '; '}}</span>
                        <br>
                        <b>Product Type(s):</b> <span ng-repeat="pt in repo.product_types">{{pt.label}}{{$last ? '' : '; '}}</span>
                        <div style="width:100%; text-align:justify"><b>Description: </b>{{repo.description}}</div>   
                        <br> 
                    </div>

                </div>
                <br><br>
      
  </div>
</div>