<div class="container">
  <div class="col-md-12 col-xs-12 savebuttons">
      <button class="btn ezdmpbutton btn-orange" ng-click="goBack()"><span>Save + Return to Proposal Info</span></button>
  </div>
    <div class="clearfix"></div>

    <div class="panel-primary">
        <div class="panel-heading">Physical Specimens</div>
        <div class="panel-body">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="specimen">Scientific Field</label>
                    <select class="form-control selectpicker"  ng-class="{'selectpicker-selected':subdiscipline}" ng-options="item.id as item.label for item in subdisciplines" ng-model="subdiscipline" ng-change="subdisciplineSet()">
                        <option value="">- Select a scientific field -</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="form-group">
                    <label for="investigators">Responsible Investigator(s)</label>
                    <input type="text" class="form-control" id="investigators" placeholder="Last Name(s)" ng-model="product.responsibleInvestigators" ng-change="metadata.responsibleInvestigators=product.responsibleInvestigators">
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label for="materialDescription">Description/Acquisition Plan</label>
                    <textarea class="form-control" id="materialDescription" placeholder="What are the specimens? How will they be acquired? Are existing specimens being used?" rows="3" ng-model="product.description"></textarea>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="formats">Anticipated Number of Specimens</label>
                    <input type="text" class="form-control" id="formats" placeholder="How many samples will be acquired?" ng-model="product.anticipatedVolume">
                </div>
                <div class="form-group">
                    <label for="preserved">Will specimens be preserved?</label>
                    <label class="radio-inline">
                      <input type="radio" name="preserved" ng-model="product.archived" id="inlineRadio1" ng-value="true"> Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="preserved" ng-model="product.archived" id="inlineRadio2" ng-value="false"> No
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="repository">Metadata Repository <small><i>(optional)</i></small></label>
                    <select class="form-control selectpicker" ng-class="{'selectpicker-selected':mrepository}" ng-options="item.id as item.label for item in mrepositories" ng-model="mrepository" ng-change="mrepositorySet()">
                        <option value="">- Select a Metadata Repository -</option>
                    </select>
                    <input type="text" class="form-control" ng-show="mrepository=='other'" ng-model="metadata.repository" placeholder="Specimen Repository Name">
                </div>
                <div class="well well-sm" ng-show="mRepositoryDescription">{{mRepositoryDescription}}</div>
                <div class="form-group">
                    <label for="timeline">Release Timeline</label>
                    <input type="text" class="form-control" id="timeline" placeholder="How long after acquisition will this metadata become available?" ng-model="product.releaseTimeline" ng-change="metadata.releaseTimeline=product.releaseTimeline">
                </div>
            </div>
            <div class="row" ng-show="product.archived">
                <div class="col-xs-12">
                <div>
                    <div class="panel-heading">Specimen Preservation</div>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="creationDescription">Specimen Preservation Plan</label>
                                <textarea class="form-control" id="creationDescription" placeholder="How will specimens be preserved?" rows="6" ng-model="product.creationDescription"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="specrepo">Physical Specimen Repository</label>
                                <select class="form-control selectpicker" ng-class="{'selectpicker-selected':repository}" ng-options="item.id as item.label for item in repositories" ng-model="repository" ng-change="repositorySet()">
                                      <option value="">- Select a Specimen Repository -</option>
                                </select>
                                <input type="text" class="form-control" ng-show="repository=='other'" ng-model="product.repository" placeholder="Specimen Repository/Museum Name">
                            </div>
                          <div class="well well-sm" ng-show="repositoryDescription || repository=='other'">
                            <div ng-show="repository=='other'">
                              Provide name of sample repository (this could include a university archive, museum, etc.).
                            </div>
                            <div ng-show="repositoryDescription">{{repositoryDescription}}</div>
                          </div>
                            <div class="form-group">
                                <label for="avail">Duration of Specimen Availability</label>
                                <input type="text" class="form-control" id="avail" placeholder="How long will physical specimens be available?" ng-model="product.durationOfAvailability">
                            </div>
                            <div class="form-group">
                                <label for="timeline">Specimen Release Timeline</label>
                                <input type="text" class="form-control" id="timeline" placeholder="How long after acquisition will specimens become available?" ng-model="product.specimenTimeline">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
          <div class="row">
                <div class="col-xs-12">
                <div>
                    <div class="panel-heading">Research Product Relationships</div>
                    <div class="panel-body">
                        <div class="col-md-12 col-xs-12">
                          <div ng-repeat="rel in product.relationships | filter: {relationship : '!specimenMetadata'}">
                            <div class="col-md-1 hidden-sm hidden-xs">
                              <div class="text-right">{{vocab.label(vocab.relationships,rel.relationship)}}</div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="hidden-md hidden-lg">
                              <div class="col-xs-12">
                              <div class="text-left" style="font-style:italic;padding:5px;">{{vocab.label(vocab.relationships,rel.relationship)}}</div>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="col-md-11">
                            <div class="panel panel-default">
                              <div class="panel-heading"><span ng-if="dmpModel.dmp.products[dmpModel.productIndex(rel.id)].productId">{{vocab.label(vocab.subdisciplines,dmpModel.dmp.products[dmpModel.productIndex(rel.id)].productId) }} </span>{{vocab.label(vocab.product_types,dmpModel.dmp.products[dmpModel.productIndex(rel.id)].productType)}}</div>
                              <div class="panel-body">
                                <div class="col-md-10">
                                    <div style="font-style:italic">{{dmpModel.dmp.products[dmpModel.productIndex(rel.id)].responsibleInvestigators}}<span ng-if="!dmpModel.dmp.products[dmpModel.productIndex(rel.id)].responsibleInvestigators" style="color:gray"><i>No Investigators Provided</i></span></div>
                                    {{dmpModel.dmp.products[dmpModel.productIndex(rel.id)].description}}
                                </div>
                                <div class="col-md-2">
                                  <button class="btn btn-default pull-right" ng-click="dmpModel.removeRelationship(rel.id)" style="margin:0px 5px">Remove</button>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-12 col-xs-12">
                                    <button class="pull-left btn ezdmpbutton btn-lightblue"
                                    ng-click="addProductRelationship()"><span>Define Relationship to <br class="visible-xs">Proposed
                                      Research Product</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 savebuttons">
        <button class="btn ezdmpbutton btn-orange" ng-click="goBack()"><span>Save + Return to Proposal Info</span></button>
  </div>
</div>