<div class="ezDmpmask"><img src="/images/loading-page.gif" alt="loading..." class="loading-img"></div>
<div class="container">
    <div class="col-xs-12">
        <div>
            <div class="bigtitle">ezDMP Statistics</div>

            <form>
                Start Year:
                <input type="number" ng-model="start_year" min="{{min_year}}" max="{{end_year}}">
                End Year:
                <input type="number" ng-model="end_year" min="{{start_year}}" max="{{max_year}}">
                <button ng-click="reloadData()">Replot</button>

            </form>
            <br>
            <p><i>
               Note that ezDMP was released in 2019, so content from 2012 - 2019 shown in these plots was gathered with the IEDA DMP Tool which has been integrated into ezDMP
            </i></p>
            <div id="div_chart_div"></div>
            <div id="png_div_chart_div"></div>

            <div id="repo_chart_div"></div>
            <h4 style="text-align: center;"><i>Plot only shows the top 10 repositories over the selected time range</i></h4>
            <div id="png_repo_chart_div"></div>
        </div>
    </div>
</div>