<div class="container">
    <div class="col-xs-12">
        <div>
            <div class="bigtitle">ezDMP Statistics</div>
            <!-- <div ng-show="acct.isAuthenticated()"> -->
        
                    <div id="repo_chart_div"></div>
                    <div id="png_repo_chart_div"></div>
       
                    <div id="div_chart_div"></div>
                    <div id="png_div_chart_div"></div>
           
            <!-- </div> -->
            <!-- <div class="browsebuttondiv" ng-show="!acct.isAuthenticated()">
                <a class="ezdmpbutton" style="cursor:pointer" ng-click="loginOrStats('google')">
                    <div><img style="height:25px; padding-right:5px" src="images/google_PNG19630.png"><span>Log In
                            with Google</span></div>
                </a>
            </div>
            <div class="browsebuttondiv" style="margin-top:10px;" ng-show="!acct.isAuthenticated()">
                <a class="ezdmpbutton" style="cursor:pointer" ng-click="loginOrStats('orcid')">
                    <div><img style="height:25px; padding-right:10px" src="images/orcidLogo.png"><span>Log In with
                            OrcID</span></div>
                </a>
            </div> -->
        </div>
    </div>
</div>